*{
    color:red ;
}
#parared { 
    color:blue; } 
    .parared {
         color: aqua; } 
.bleu {
    color: blue ;
}
p.vert
{
    color: lawngreen ; text-align: center;
}
.vt {
    color: green ; 
}
.bord{
    border: 2px solid green ;
}
.align{
    text-align: center ;
}
a {
    color: gold; text-decoration:none;
}
a:hover {
    color:darkolivegreen   ; text-decoration: underline;
}
a:visited{
    color: indigo ;
}
.hi{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 2cm; font-style: italic; font-weight: bolder;
}
.transp{
    background-color: rgba(20, 36, 10, 25)
}
.trans{
    opacity: 0.9;
}