*{
    color:red ;
}
#parared { 
    color:blue; } 
    .parared {
         color: aqua; } 
.bleu {
    color: blue ;
}
p.vert
{
    color: lawngreen ;
}
.vt {
    color: green ;
}
.bord{
    border: 1px solid green ;
}