.une{
    background-color: #ff6600 ;
    height: 200px;
}
.deux{
    font-size: 100px ;
    text-align: center;
    font-weight: bolder ;
}
.trois{
    background-color: #4c4c4c ;
    height: 200px;
}