*{
    color: black;
}
#parared { 
    color:blue; } 
    .parared {
         color: aqua; } 
.bleu {
    color: blue ;
}
p.vert
{
    color: lawngreen ; text-align: center;
}
.vt {
    color: green ; 
}
.bord{
    border: 2px solid green ;
    border-radius: 15px;
}
.align{
    text-align: center ;
}
a {
    color: gold; text-decoration:none;
}
a:hover {
    color:darkolivegreen   ; text-decoration: underline;
}
a:visited{
    color: indigo ;
}
.hi{
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 2cm; font-style: italic; font-weight: bolder;
}
.transp{
    background-color: rgba(20, 36, 10, 25)
}
.trans{
    opacity: 0.7;
    width: 700px;
    height: 500px;
    margin-left: 400px; 
    
}

#ok{
    background-image: url("../images/desktop_work\ hard.png");
}
.but{
    padding: 15px ;
}
ul{ 
    list-style-image: url("../images/https___images.genius.com_74f02873b5f22b1bc6509c5063227243.640x640x1.jpg")
}